
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.card-fieldset {
  background-color: rgb(27, 195, 225);
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 10px;
  height: 95%;
  width: 95%;
  border-radius: 10px;
  border-width: 5px;
}

.character-button {
  padding: 5px; 
}

.character-info {
  padding: 5px;
  border-width: 3px;
  height: 95%;
  width: 95%;
}

.personality-traits {
  padding: 5px;
  border-width: 3px;
  height: 95%;
  width: 95%;
}

.story-elements {
  padding: 5px;
  border-width: 3px;
  height: 95%;
  width: 95%;
}

.card-legend {
  background-color: rgb(174, 174, 174);
  border-color: black;
  border-radius: 2px;
}


.input-label {
  display: flex;
  flex-direction: row;
  
}

.form-input {
  border: rgb(0, 0, 0);
  border-style: ridge;
}

.app-header {
  /* grid-area: 'app-header'; */
  background: aquamarine;
  text-align: center;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  font-size: calc(6px + 2vmin);
}

.app-title {
  /* grid-area: 'app-title'; */
  background: aquamarine;
  text-align: center;
  height: 95%;
  width: 95%;
}

.character-form {
  grid-area: 'character-form';
  padding-left: 10px;
  border-style: ridge;
}

.character-card {
  grid-area: 'character-card';
}
.random-button {
  grid-area: 'random';
  align-items: center;
}

.border {
  grid-area: border;
}

.container {
  display: grid;
  grid-template-columns: 30% 2% 18% 50%;
  grid-template-rows: auto;
  justify-items: stretch;
  grid-template-areas: 
  /* " app-header app-header app-header app-header"
  " app-titles app-titles app-title app-title" */
  "character-form . random character-card";
}